/*
 * Copyright (c) 2020 duckyb
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

// Layer definitions
#define BASE 0
#define SYM 1
#define EXT 2
#define FNC 3
#define SYM2 4
#define MACRO 5
#define MACRO2 6
#define SETTINGS 7
// -----------------

&sk {
	// don't release mods on other mods presses
	ignore-modifiers;
};


/ {
	behaviors {
		// Enables holding the first mod-tap key
		// by performing a tap-release-hold sequence.
		// To use it: "&qt KEYCODE1 KEYCODE2"
		qt: quick_tap {
			compatible = "zmk,behavior-hold-tap";
			label = "QUICK_TAP";
			#binding-cells = <2>;
			flavor = "hold-preferred";
			tapping-term-ms = <200>;
			quick-tap-ms = <200>;
			bindings = <&kp>, <&kp>;
		};
		
		//TAPDANCE CONFIG---------------------------------
		//media control
		td0: tap_dance_0 {
		    compatible = "zmk,behavior-tap-dance";
		    #binding-cells = <0>;
		    tapping-term-ms = <200>;
		    bindings = <&kp C_PP>, <&kp C_NEXT>, <&kp C_PREV>;
		};
		//grave and tilde
		td1: tap_dance_1 {
		    compatible = "zmk,behavior-tap-dance";
		    #binding-cells = <0>;
		    tapping-term-ms = <200>;
		    bindings = <&kp GRAVE>, <&kp TILDE>;
		};
	};

	macros {
		// sometimes my device thinks a modifier is being held down
		// pressing all modifiers fixes it.
		unstick: unstick {
			label = "ZM_unstick";
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			bindings = <&kp LSHIFT &kp RSHIFT &kp LCTRL &kp RCTRL &kp LALT &kp RALT &kp LGUI &kp RGUI>;
		};
		//screen grab shortcut for macOS
		macprtsc: macprtsc {
			label = "mac_ss";
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			bindings = <&kp LSHIFT>, <&kp LCTRL>, <&kp LGUI>, <&kp N4>;
	};

	combos {
		compatible = "zmk,combos";
		// both right thumb keys
		combo_settings {
			timeout-ms = <200>;
			key-positions = <32 33>;
			bindings = <&mo SETTINGS>;
		};
		// internal-left & external-right thumb keys
		combo_sym2 {
			timeout-ms = <200>;
			key-positions = <31 33>;
			bindings = <&mo SYM2>;
		};
		// both left thumb keys
		combo_macro {
			timeout-ms = <200>;
			key-positions = <30 31>;
			bindings = <&tog MACRO>;
		};
		//KEYPRESSES--------------------------------------
		//the 2 lower right keys for enter
		combo_ent {
		    timeout-ms = <200>;
		    key-positions = <28 29>;
		    bindings = <&kp ENTER>;
		};
		//press , and . for tab
		combo_tab {
		    timeout-ms = <200>;
		    key-positions = <27 28>;
		    bindings = <&kp TAB>;
		};
		//colon and semi colon
		combo_semicolon {
		    timeout-ms = <200>;
		    key-positions = <6 7>;
		    bindings = <&kp SEMI>;
		};
		combo_colon {
		    timeout-ms = <200>;
		    key-positions = <7 8>;
		    bindings = <&kp COLON>;
		};
	    };
		
	};

	keymap {
		compatible = "zmk,keymap";
	// Base alpha layer
		default_layer {
			label = "Base";
			bindings = <
			&kp Q &kp W &kp E       &kp R &kp T           &kp Y &kp U  &kp I     &kp O   &kp P 
			&kp A &kp S &qt LCTRL D &kp F &kp G           &kp H &kp J  &kp K     &kp L   &kp SQT
			&kp Z &kp X &kp C       &kp V &kp B           &kp N &kp M  &kp COMMA &kp DOT &kp SLASH
				&sl EXT &qt LSHIFT SPACE           &kp BSPC &mo SYM
			>;
		};

	// Numbers and high frequency symbols
		sym_layer {
			label = "NumSym.";
			bindings = <
			&td1   &kp N7 &kp N8 &kp N9 &kp MINUS     	&trans &kp AMPS &kp ASTERISK &kp LPAR &kp PIPE
			&kp N0 &kp N4 &kp N5 &kp N6 &kp DOT		&kp RPAR &kp DOLLAR &kp PERCENT &kp CARET &kp BSLH
			&kp EQUAL &kp N1 &kp N2 &kp N3 &kp PLUS 	&trans &kp EXCL &kp AT &kp HASH &kp PIPE
						&mo FNC  &mo SYM2       &kp DEL &trans
			>;
		};

	// Main modifiers and arrow keys
		ext_layer {
			label = "Misc";
			bindings = <
			&trans  &trans &kp C_VOL_DN &kp C_VOL_UP  &td0	&kp PG_UP &msc SCRL_UP &mmv MOVE_UP &mkp MB3 &mkp MB2
			&sk LGUI &sk LALT  &sk LCTRL  &trans &trans 		&kp PG_DN &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_RIGHT &mkp MB1
			&trans &trans &trans &trans &trans		&msc SCRL_LEFT &msc SCRL_RIGHT &trans &trans &trans
						&trans &kp LCTRL    		&kp ENTER &mo FNC 
			>;
		};

  	// Function keys with modifiers
		fnc_layer {
			label = "FRow";
			bindings = <
			&kp F1 &kp F2 &kp F3 &kp F4 &kp F5                  &kp F6 &kp F7 &kp F8 &kp F9 &kp F10 
			&sk LALT &sk LGUI &sk LSHIFT &sk LCTRL &kp RALT     &kp F11 &kp F12  &kp PRINTSCREEN &macprtsc &trans
			&none &studio_unlock &none &none &none			    &none &none &none &none &none 
							  &none &none       &none &none  
			>;
		};

	// Low frequency symbols.
		symbols_2_layer {
			label = "Sym.2";
			bindings = <
			&none &none &kp GRAVE &none &none			&none &none &none &none &none 
			&kp TILDE &kp LBKT &kp RBKT &kp LBRC &kp RBRC    	&none &none &none &none &none
			&none &none &none &none &none				&none &none &none &none &none
							&none &none     	&none &none 
			>;
		};

	// Macro layer is currently being used to type CAD software commands.
		macro_layer {
			label = "Macro.";
			bindings = <
			&kp ESCAPE &none &none &none &none                              &none &none &none &none &none 
			&none &none &none &none &none	             		 	&none &none &none &none &none
			&none &none &none &none &none					&none &none &none &none &none
					  		&kp ENTER &mo MACRO2     	&none &none 
			>;
		};

	// Low frequency macros for CAD and number pad.
		macro_2_layer {
			label = "Macro.2";
			bindings = <
			&kp SLASH &kp N7 &kp N8 &kp N9 &kp BSPC		&none &none &none &none &none 
			&kp N0 &kp N4 &kp N5 &kp N6 &kp DOT		&none &none &none &none &none
			&none &kp N1 &kp N2 &kp N3 &none		&none &none &none &none &none
					 	 	&none &none     &none &none 
			>;
		};

	// Used to change the keyboard's settings.
		settings_layer {
				label = "Sett.";
				bindings = <
				&bootloader &none &none &bt BT_CLR &bt BT_SEL 0		&bt BT_SEL 3 &none &unstick &none &bootloader 
				&none &none &none &none      &bt BT_SEL 1 		&bt BT_SEL 4 &none &none &none &none
				&none &none &none &none      &bt BT_SEL 2               &bt BT_SEL 5 &none &none &none &none
								&none &none             &none &none 
				>;
		};
	};
};
